<div ng-controller="OrgProfileController" ng-init="getAllData()">
	<div class="panel panel-default container col-md-10 col-md-offset-1" id="homeContainer">
		<div class="row" style="padding-top: 10px;">
			<div class="col-xs-11">

				<!--<div class="row">-->
				<div class="col-xs-11 col-xs-offset-1">
					<div class="panel panel-info" style="padding: 0;">
						<div class="panel-heading">
							<h4>User Profile</h4>
						</div>
					</div>
				</div>
				<!--</div>-->
				<!--<div class="row">-->
				<div class="col-xs-11 col-xs-offset-1">
					<div class="panel panel-default" style="padding: 0;">
						<div class="panel-body">

							<div class="row">
								<div class="col-md-4">
									<img alt="Profile Picture" src="images/default-org.png" height="200" width="200">

								</div>
								<div class="col-md-8">
									<div class="col-md-12">
										<h2>{{userName}}</h2>
									</div>
									<div class="col-md-12">
										<h4>Motto
											<strong>{{myProperties.motto}}</strong></h4>
									</div>
									<div class="col-md-12">
										<h4>URL
											<strong>{{myProperties.url}}</strong>
											<h4>
									</div>
									<div class="col-md-12">
										<h4>Overview</h4>
										<div>
											<summary>{{myProperties.overview}}</summary>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer text-center">
							<button class="btn btn-primary" ng-click="modifyProfile()">
								Edit Profile</button>
						</div>

					</div>
				</div>
				<!--</div>-->

				<div class="col-xs-11 col-xs-offset-1" style="padding-top: 2%">
					<div class="panel panel-success" style="padding-top: 2%">
						<div class="panel-heading"><strong>NUCES-circle</strong></div>
						<div class="panel-body">NUCES-circle is a professional network where students can build
							their professional profile highlighting their accomplishments, skills, experiences,
							interests and semester projects. Students can build their circle by connecting with
							other members and also get endorsed by other fellows or instructors present in
							NUCES-circle. It will also help recruiters searching most appropriate candidate from
							the campus.</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>